body.dialog-open {
    position: fixed;
    width: 100%;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
}

#open, #close {
    outline: none;
    color: #fff;
    background: blue;
}
.float-window {
    display: none;
    position: fixed;
    background: #fff;
    overflow: scroll;
    padding: 20px;
    border: 2px solid #333;
    height: 300px;
    top: 0;
}
.show {
    display: block;
}